# {
    key1:value1,
    key2:value2,
    key3:value3,
    ...
}

 always starts with {}
 
 key and values
 
 : seperator between key and value
 
 , seperator between key:value pair
 
 key data types always should be int or string
 
 value data types can be any types

In [3]:
myDict = {"Name":"Gulshan Ali", "Age":40, "Gender":"M"}
len(myDict)

3

# Adding a new key to an existing Dictionary

In [4]:
myDict["Email"] = "xyz@gmail.com"
myDict

{'Name': 'Gulshan Ali', 'Age': 40, 'Gender': 'M', 'Email': 'xyz@gmail.com'}

In [5]:
myDict["Nationality"] = "Pakistan"
myDict

{'Name': 'Gulshan Ali',
 'Age': 40,
 'Gender': 'M',
 'Email': 'xyz@gmail.com',
 'Nationality': 'Pakistan'}

# Access a Key Value

In [8]:
myDict["name"] #error due to case sensitive so

KeyError: 'name'

In [9]:
myDict["Name"]

'Gulshan Ali'

In [11]:
myDict["Age"]

40

In [12]:
myDict["Email"]

'xyz@gmail.com'

In [14]:
newDict = {1:"Abbas", 2:"Ali"} #1 and 2 are here shows roll nos of Abbas and Ali

In [15]:
newDict[1]

'Abbas'

In [6]:
newDict[2]

NameError: name 'newDict' is not defined

# Deleting a Key

In [11]:
newDict2={1:"Aslam", 2:"Saiq"}
newDict2

{1: 'Aslam', 2: 'Saiq'}

In [14]:
del newDict2[2] 
print(newDict2)

{}

# updating a key value

In [17]:
myDict = {"Name":"Gulshan Ali", "Age":40, "Gender":"M"}
myDict

{'Name': 'Gulshan Ali', 'Age': 40, 'Gender': 'M'}

In [19]:
myDict["email"]="abc@yahoo.com"
myDict

{'Name': 'Gulshan Ali', 'Age': 40, 'Gender': 'M', 'email': 'abc@yahoo.com'}

In [21]:
myDict["email"] = "xyz@yahoo.com"
myDict

{'Name': 'Gulshan Ali', 'Age': 40, 'Gender': 'M', 'email': 'xyz@yahoo.com'}

In [22]:
xyzDic = {1:10, 2:20, 3:30, 4:40, 1:100} #if there is duplicate key then 1st one will be replaced

In [23]:
xyzDic

{1: 100, 2: 20, 3: 30, 4: 40}

In [24]:
2 in xyzDic #checking the presence of any key in a dict

True

In [25]:
5 in xyzDic #As key 5 not exist inside dict xyzDic

False

In [26]:
"Gender" in myDict #if a key is string then will be in inverted commas

True

In [27]:
"gender" in myDict #As case sensitive

False

In [5]:
#     0         1     2    3      4
a=['Gulshan', 'Ali', 40, 'MCS',['AI','ML', 'Cloud Computing']]
# We will replace indexes with keys
a[3]

'MCS'

In [6]:
data = {
    'name':'Gulshan',
    'fname':'Ali',
    'age': 40,
    'qualification':'MSC',
    'skills':['AI','ML', 'Cloud Computing'],
    0:'Pakistan'
}
data

{'name': 'Gulshan',
 'fname': 'Ali',
 'age': 40,
 'qualification': 'MSC',
 'skills': ['AI', 'ML', 'Cloud Computing'],
 0: 'Pakistan'}

# How to access values from dictionary
. dictionary['key']

In [7]:
data = {
    'name':'Gulshan',
    'fname':'Ali',
    'age': 40,
    'qualification':'MSC',
    'skills':['AI','ML', 'Cloud Computing'],
    0:'Pakistan'
}
print(type(data))
data

<class 'dict'>

{'name': 'Gulshan',
 'fname': 'Ali',
 'age': 40,
 'qualification': 'MSC',
 'skills': ['AI', 'ML', 'Cloud Computing'],
 0: 'Pakistan'}

In [12]:
data = {
    'name':'Gulshan',
    'fname':'Ali',
    'age': 40,
    'qualification':'MSC',
    'skills':['AI','ML', 'Cloud Computing'],
    0:'Pakistan'
}
data['name']
data[0]
data['skills']

['AI', 'ML', 'Cloud Computing']

In [7]:
data[0]

'Pakistan'

In [14]:
data = {
    'names':['Gulshan','Aslam','Yaqoob'],
    'fnames':['Ali','Sabit','Muhammad'],
    'courses':['AI','ML', 'Cloud Computing']
}
data

{'names': ['Gulshan', 'Aslam', 'Yaqoob'],
 'fnames': ['Ali', 'Sabit', 'Muhammad'],
 'courses': ['AI', 'ML', 'Cloud Computing']}

In [15]:
import pandas as pd
df = pd.DataFrame(data)
df

     names    fnames          courses
0  Gulshan       Ali               AI
1    Aslam     Sabit               ML
2   Yaqoob  Muhammad  Cloud Computing

In [16]:
data ={}

data['name'] = 'Gulshan'
data['fname'] = "Ali"
data['course'] = 'MSC'
data['name'] = 'Gulshan Ali'
data["name"] = data["name"]+"AI Student"

data

{'name': 'Gulshan AliAI Student', 'fname': 'Ali', 'course': 'MSC'}

In [17]:
data["course"]

'MSC'

In [18]:
dir(data)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
data ={}

data['name'] = 'Gulshan'
data['fname'] = "Ali"
data['course'] = 'MSC'
data['name'] = 'Gulshan Ali'
data["name"] = data["name"]+"AI Student"

print(data)
data.clear() #clear/empty but objet exist
print(data)

{'name': 'Gulshan AliAI Student', 'fname': 'Ali', 'course': 'MSC'}
{}

In [4]:
data ={}

data['name'] = 'Gulshan'
data['fname'] = "Ali"
data['course'] = 'MSC'
data['name'] = 'Gulshan Ali'
data["name"] = data["name"]+"AI Student"

del data
print(data)

NameError: name 'data' is not defined

In [9]:
data ={
'name':'Gulshan',
'fname': "Ali",
'course':'MSC'
}
data=data1  #shallow copy
data= data2
data3= data
data1['name'] = 'Gulshan Ali'

print(data)
print(data1)
print(data2)
print(data3)

{'name': 'Gulshan Ali', 'fname': 'Ali', 'course': 'MSC'}
{'name': 'Gulshan Ali', 'fname': 'Ali', 'course': 'MSC'}
{'name': 'Gulshan Ali', 'fname': 'Ali', 'course': 'MSC'}
{'name': 'Gulshan Ali', 'fname': 'Ali', 'course': 'MSC'}

In [7]:
data ={
'name':'Gulshan',
'fname': "Ali",
'course':'MSC'
}
data1=data.copy()  #deep copy

data1['name'] = 'Gulshan Ali'

print(data)
print(data1)

{'name': 'Gulshan', 'fname': 'Ali', 'course': 'MSC'}
{'name': 'Gulshan Ali', 'fname': 'Ali', 'course': 'MSC'}

### from keys

In [12]:
keys = ['id','name','fname','course']

dict.fromkeys(keys)

{'id': None, 'name': None, 'fname': None, 'course': None}

In [27]:
keys = ['id','name','fname']


dict.fromkeys(keys,'empty')

{'id': 'empty', 'name': 'empty', 'fname': 'empty'}

In [13]:
keys = ['id','name','fname','course']

dict.fromkeys(keys,'empty')

{'id': 'empty', 'name': 'empty', 'fname': 'empty', 'course': 'empty'}

### get

In [15]:
data = {
    'name':'Gulshan',
    'fname':'Ali',
    'age': 40,
    'qualification':'MSC',
    'skills':['AI','ML', 'Cloud Computing'],
    0:'Pakistan'
}
data.get('name')
data.get('contact')

In [35]:
data.get('contact',"not available")

'not available'

In [34]:
200*15*60*4

720000

In [19]:
a='gulshan'
print(a)

gulshan

# item, keys, values

In [33]:
myDic = {
    'name':'Gulshan',
    'fname':'Ali',
    'age': 40,
    'qualification':'MSC',
    'skills':['AI','ML', 'Cloud Computing'],
    0:'Pakistan'
}
myDic

{'name': 'Gulshan',
 'fname': 'Ali',
 'age': 40,
 'qualification': 'MSC',
 'skills': ['AI', 'ML', 'Cloud Computing'],
 0: 'Pakistan'}

In [34]:
myDic.items() #bringing all data of dictionary "keys and values"

dict_items([('name', 'Gulshan'), ('fname', 'Ali'), ('age', 40), ('qualification', 'MSC'), ('skills', ['AI', 'ML', 'Cloud Computing']), (0, 'Pakistan')])

In [35]:
myDic.keys() #it brings only keys

dict_keys(['name', 'fname', 'age', 'qualification', 'skills', 0])

In [36]:
myDic.values() #it brings only values

dict_values(['Gulshan', 'Ali', 40, 'MSC', ['AI', 'ML', 'Cloud Computing'], 'Pakistan'])

In [40]:
for v in myDic.values():
    print(v)

Gulshan
Ali
40
MSC
['AI', 'ML', 'Cloud Computing']
Pakistan

In [41]:
for k in myDic.keys():
    print(k)

name
fname
age
qualification
skills
0

In [4]:
data = {
    'name':'Gulshan',
    'fname':'Ali',
    'age': 40,
    'qualification':'MSC',
    'skills':['AI','ML', 'Cloud Computing'],
    0:'Pakistan'
}

k = "Pakistan"
for k in ["name","age"]:
    print(data[k])

Gulshan
40

In [6]:
k = "Pakistan"
for k in ["name","skills"]:
    print(data[k])

Gulshan
['AI', 'ML', 'Cloud Computing']

In [60]:
a = 20# global

def abc():
    a = 50 #local
    print(a)
    
    
abc()
print(a)

50
20

In [8]:
a = 40 # global
def abc():
        a = 30 #local
        print(a)
        
abc()
print(a)

30
40

In [9]:
for i in data.items():
    print(i)

('name', 'Gulshan')
('fname', 'Ali')
('age', 40)
('qualification', 'MSC')
('skills', ['AI', 'ML', 'Cloud Computing'])
(0, 'Pakistan')

In [10]:
for k,v in data.items():
    print(k,v)

name Gulshan
fname Ali
age 40
qualification MSC
skills ['AI', 'ML', 'Cloud Computing']
0 Pakistan

In [15]:
a,b,c = (10,20,5)#declaration more veriables at a time
print(a,b,c)

10 20 5

In [44]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [20]:
for num in (1,2,3,4,5):
    print(num)

1
2
3
4
5

In [21]:
for num in [1,2,3,4,5]:
    print(num)

1
2
3
4
5

In [24]:
for 10 in []:
    print(10)
#1
#2
#3
#4
#5
#6
#7
#8
#9
#10

SyntaxError: cannot assign to literal (Temp/ipykernel_6180/2032302741.py, line 1)

In [61]:
a = print('Pakistan')# non-return function
print(a)

Pakistan
None

In [62]:
a = len('Pakistan')# Return function
print(a)

8

In [63]:
a = type('Pakistan')# Return function
print(a)

<class 'str'>

### pop

In [37]:
data = {
    
    'name':'Gulshan',
    'fname':'Liaqat'
}
del data['name']
data

{'fname': 'Liaqat'}

In [38]:
data = {
    
    'name':'Gulshan',
    'fname':'Liaqat'
}
a = data.pop("name") #return function
print(a)
print(data)

Gulshan
{'fname': 'Liaqat'}

In [41]:
completed_list =[]
data = {
    
    'name':'Gulshan',
    'fname':'Liaqat'
}
a = data.pop("name")
b = data.pop("fname")

completed_list.append(a)
completed_list.append(b)
print(a)
print(data)
print(completed_list)

Gulshan
{}
['Gulshan', 'Liaqat']

In [42]:
data = {
    
    'name':'Gulshan',
    'fname':'Liaqat'
}
a = data.popitem()
print(a)
print(data)

('fname', 'Liaqat')
{'name': 'Gulshan'}